
*{
    font-family: MedievalSharp;
    font-style: normal;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

html, body{
    height: 100%;
    overflow: hidden;
}

.login{
    height: 100%;
    align-items: center;
    text-align: center;
    background-image: url("../images/tavern.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center bottom;
    -webkit-user-select: none;  
    -moz-user-select: none;     
     -ms-user-select: none;     
     user-select: none;          
}

.title{
    color: white;
    font-size: 100px;
    padding-bottom: 0.5em;
    text-shadow: 10px 10px 5px black;
}

.input{
    padding: 0.5em;
    margin-bottom: 0.5em;
    border:2px solid black;
    box-shadow: 10px 10px 15px black;
    width: 200px;
    height: 1em;
}

.button{
    border:2px solid black;
    width: 200px;
}

.button:hover{
    background-color: black;
    color: white;
}

.erreur{
    color: red;
    font-size: 20px;
    padding-top: 0.5em;
}

.critical{
    color: white;
    font-size: 50px;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 1em;
    text-shadow: 10px 10px 5px black;
}

.throwDice{
    position: fixed;
    bottom: 160px;
    left: 28%;
    width: 500px;
    height: 400px;
}

.dice{
    background-image: url("../images/dice.png");
    background-size: contain;
    position: absolute;
    width: 80px;
    height: 90px;
    background-repeat: no-repeat;
    left: 200px;
    bottom: 0px;
}

.diceValue{
    padding-top: 1.7em;
    font-weight: 600;
}

.lobby{
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../images/BaldursGate.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.buttonLobby{
    margin-top: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 4em;
    border:2px solid black;
    width: 200px;
    box-shadow: 10px 10px 15px black;
}

.buttonLobby:hover{
    background-color: black;
    color: white;
}

.Minsc{
    padding-top: 1em;
    background-image: url("../images/Minsc.png");
    background-repeat: no-repeat;
    color: black;
    text-align: right;
    font-weight: 500;
    width: 700px;
    height: 450px;
}

.Minsc p{
    padding-top: 1.5em;
    padding-right: 1em;
    font-size: 18px;
    position: relative;
    height: 50%;
    background-image: url("../images/bubble.png");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right;
    font-weight: 500;
}

.game{
    height: 100%;
    align-items: center;
    background-image: url("../images/fight.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center bottom;
    background-size: cover;
}

.enemy{
    display: flex;
    width: 100%;
    height: 12%;
    background-color: rgba(58, 58, 58, 0.60);
    border-bottom: 5px solid black;
}

.board{
    width: 100%;
    height: 60%;
    display: flex;
}

.player{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 28%;
    background-color: rgba(58, 58, 58, 0.60);
    border-top: 5px solid black;
}

.playerHealth{
    width: 7%;
    height: 100%;
    background-image: url("../images/healthArt.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

.playerCardsInDeck{
    width: 7%;
    height: 100%;
    background-image: url("../images/cardv3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 1em;
}

.playerMana{
    width: 7%;
    height: 100%;
    background-image: url("../images/dice.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 1em;
}

.playerHealthValue{
    position: relative;
    top: 45%;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.playerCardsInDeckValue{
    position: relative;
    top: 45%;
    text-align: center;
    color: red;
    font-size: 35px;
    font-weight: 600;
    border-radius: 20px;
}

.playerManaValue{
    position: relative;
    top: 45%;
    text-align: center;
    color: black;
    font-size: 35px;
    font-weight: 600;
}

.playerCardsInHand{
    width: 59%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.playerButtons{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playerButton{
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border:3px solid black;
    width: 200px;
    box-shadow: 10px 10px 15px black;
}

.playerButton:hover{
    background-color: black;
    color: white;
}

.chatBox{
    position: relative;
    height: 100%;
    width: 20%;
    background-image: url("../images/leftPillar.png");
    background-repeat: no-repeat;
    background-size: auto 101%;
    background-position: center;
}

.chatBox iframe{
    height: 100%;
    width: 100%;
}

.battlefield{
    height: 100%;
    width: 60%;
}

.battlefieldBorder{
    height: 100%;
    width: 20%;
    background-image: url("../images/rightPillar.png");
    background-repeat: no-repeat;
    background-size: auto 101%;
    background-position: center;
}

.enemyCardsInHand{
    display: flex;
    flex-direction: row;
    width: 21%;
    height: 100%;
}

.enemyPortrait{
    width: 58%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.portrait{
    border:3px solid black;
    box-shadow: 10px 10px 15px black;
    height: 150px;
    width: 40%;
    background-image: url("../images/MinscPortrait.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.enemyHealth{
    width: 7%;
    top: 45%;
    background-image: url("../images/healthArt.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.enemyMana{
    width: 7%;
    background-image: url("../images/dice.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.enemyCardsInDeck{
    width: 7%;
    background-image: url("../images/cardv3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.enemyHealthValue{
    position: relative;
    top: 40%;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.enemyManaValue{
    position: relative;
    top: 40%;
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.enemyCardsInDeckValue{
    position: relative;
    top: 40%;
    text-align: center;
    color: red;
    font-size: 25px;
    font-weight: 600;
}

.enemyName{
    color: white;
    font-size: 25px;
    padding-right: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}

.enemyClass{
    color: white;
    font-size: 25px;
    padding-left: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
}

.welcomeText{
    display: flex;
    color: white;
    font-size: 50px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card{

}

.cardCost{

}

.cardImage{
    
}

.cardMechanics{

}

.cardATK{

}

.cardHP{

}

